<h2>Your Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :new_password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :new_password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

</br>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<% if current_user.standard? %>
  <h3>Upgrade Your Account</h3>
  <p>You're currently a <em><%= current_user.role.capitalize %> Member</em>.</p>
  <%= button_to "Upgrade Now", new_charge_path, :class => "btn btn-lg btn-primary",method: :get %>
<% else %>
  <h3>Your Account Status</h3>
  <p>You're currently a <em><%= current_user.role.capitalize %> Member</em>.</p>
<% end %>

<h3>Downgrade Or Cancel Account</h3>

<p><%= button_to "Cancel My Blocipedia Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<p><%= button_to "Downgrade To Standard Account", charge_path, :controller => "charges", :action => "destroy", data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
